body {
  font-family: "DM Sans", sans-serif;
  /* Margin não, padding e coloca apenas acima e abaixo, não dos lados pois tu tem que centralizar o main e não centralizar com bordas */
  margin: 90px 115px 140px 115px;
  background-color: #fff;
}

#main {
  /* centralizar a div, referindo ao comentario acima. */
  max-width: 1178px;
  display: flex;
}

#content {
  width: 700px;
}

#content h3 {
  color: #1e0e62;
  font-size: 42px;
  line-height: 52px;
  font-weight: 700;
  letter-spacing: -0.4px;
  margin-bottom: 12px;
}

/* Aqui algo que comentei la no html sobre o id label. */
#main #label {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 2px;
  color: rgba(21, 20, 57, 0.4);
}

#content article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
  margin-bottom: 35px;
}

#content h5 {
  color: #1e0e62;
  font-size: 22px;
  line-height: 32px;
  font-weight: 500;
  margin-bottom: 12px;
}

#content p {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(21, 20, 57, 0.4);
}

#content .photo-content p {
  margin-bottom: 30px;
}

#content .photo-content img {
  margin-top: 50px;
  margin-bottom: 25px;
}

sidebar {
  margin-left: 100px;
  width: 378px;
}

/* Aqui algo que comentei la no html sobre o id label. */
sidebar #label {
  margin-bottom: 20px;
}

sidebar .list {
  display: flex;
  margin-bottom: 30px;
  width: 370px;
  height: 110px;
}

sidebar .last-seen img {
  width: 170px;
  height: 105px;
}

sidebar .list p {
  margin-left: 20px;
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: #1e0e62;
}

sidebar .list p:last-child {
  color: rgba(21, 20, 57, 0.4);
  margin-top: 4px;
}

sidebar .newsletter {
  width: 370px;
  height: 186px;
  border: 2px solid #ebeaed;
  border-radius: 10px;
  box-sizing: border-box;
  padding: 30px;
  margin: 50px 0;
}

/* Aqui algo que comentei la no html sobre o article. */
sidebar .newsletter article {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: #1e0e62;
}

sidebar .content-form legend {
  font-size: 16px;
  line-height: 26px;
  font-weight: 400;
  color: rgba(21, 20, 57, 0.4);
  margin-bottom: 20px;
}

sidebar .content-form {
  display: flex;
}

/* Aqui algo que comentei la no html sobre o id. */
sidebar .content-form #email {
  font-size: 18px;
  line-height: 28px;
  font-weight: 500;
  color: rgba(21, 20, 57, 0.4);
  padding: 12px 108px 12px 24px;
  width: 220px;
  height: 50px;
  box-sizing: border-box;
  border: 2px solid #ebeaed;
  border-radius: 100px;
}

/* Aqui algo que comentei la no html sobre o id, sobre o hover e o cursor pointer. */
sidebar .content-form #button {
  border-radius: 100px;
  background-color: #25dac5;
  color: #fff;
  padding: 12px 18px 12px 18px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  width: 80px;
  height: 50px;
  align-items: center;
  text-align: center;
  border: none;
}

/* Aqui algo que comentei la no html sobre o hover e o cursor pointer. */
sidebar .most-popular button {
  color: #fff;
  background-color: #e93a7d;
  border-radius: 100px;
  padding: 5px;
  width: 130px;
  height: 40px;
  font-size: 18px;
  line-height: 26px;
  font-weight: 500;
  text-align: center;
  align-items: center;
  border: none;
}
